@model  Cephalus.Maldives.Core.Models.Customer
@{ 
    var customerId = Model.CustomerNumber;
}
<li data-user-id="@customerId">
    <div class="flex-direction-row-sm-col">
        <div class="left flex--2" id="@customerId">
            <span class="profile-img">
                <div class="img-wrap user-profile-image" data-user-id="@customerId">
                    <i class="icon-user-in-circle no-profile-image"></i>
                </div>
            </span>
            <span class="info-data">
                <input class="family-member-id" id="" name="" type="hidden" value="@customerId">
                <span class="name">@customerId</span>
                <strong class="green-text" id="VipStatusPending_@(customerId)" style="display:none">(VIP status pending)</strong>
                <span class="patient-number">@Html.DisplayFor(m => m.BirthDate, "DateTime")</span>

                <a href="javascript:;" class="blue-text change-account-settings" data-customer-id="@customerId" data-customer-index="2">Account settings</a>
                <a href="javascript:;" class="blue-text remove-from-plan-button" data-customer-id="@customerId">Remove from Database</a>
            </span>
        </div>

        <div class="right flex--2" id="46d828e8-3a46-e711-8108-5065f38bd531_right">

            <div class="account-details">
                <ul>
                    @Html.DisplayFor(m => m.Tags)
                </ul>
            </div>
        </div>
    </div>

    <div id="vipVerificationDetailsDisplayContainer_46d828e8-3a46-e711-8108-5065f38bd531" class="flex-direction-column">
        <div class="flex-direction-column mt20">
            <div class="info-box with-frame grey">
                <h5>
                    @*Verify user as VIP*@
                    <a href="javascript:;" target="_blank">Verify user as VIP</a>
                </h5>
                @*<div class="flex-direction-column frame frame-red">
                    <h5 class="red-text">Upload proof of guardianship</h5>
                    <p class="small-text">Upload your family member's birth certificate, letter of guardianship or passport to activate their account.</p>
                    <a href="javascript:;" data-ward-id="46d828e8-3a46-e711-8108-5065f38bd531" class="blue-text small-text bold _upload-proof-of-guardianship">Upload document</a>
                </div>*@
            </div>
        </div>
    </div>
</li>