@model Cephalus.Maldives.Web.Models.CustomerSearchModel

@using (Ajax.BeginForm("GetCustomersByTagType", "Home", new AjaxOptions()
{
    HttpMethod = "POST",
    OnBegin = "CustomersPage.OnBegin",
    OnSuccess = "CustomersPage.OnSuccess",
    OnComplete = "CustomersPage.OnComplete"
}))
{
<div class="left-col-container">
    <div class="frame frame-grey membership-list-wrap">
        <div class="frame-inner">
            <div class="left-col-inner border-bottom1">
                <div class="inner-top style-1-a">
                    <h3 class="blue">
                        Search Filters
                    </h3>
                </div>
                <fieldset class="form-row">
                    <div class="label-wrap">
                        @Html.LabelFor(m => m.Tags, new { @class = "bolded" })
                    </div>
                    <div class="long">
                        @{
                            var list = new List<SelectListItem>(EnumHelper.GetSelectList(typeof(Cephalus.Maldives.Core.Models.TagType)));
                            list.Insert(0, new SelectListItem() { Text = "", Value = null });
                        }
                        @Html.ListBoxFor(m => m.Tags, list, new { @class = "tag-type" })
                        @Html.ValidationMessageFor(m => m.Tags)
                    </div>
                </fieldset>

                <fieldset class="form-row">
                    <div class="label-wrap">
                        @*<label class="bolded" for="Email">Keyword</label>*@
                        @Html.LabelFor(m => m.Keywords, new { @class = "bolded" })
                    </div>
                    <div class="long">
                        @Html.TextBoxFor(m => m.Keywords, new { @class = "in-text" })
                        @Html.ValidationMessageFor(m => m.Keywords)
                    </div>
                </fieldset>

                <div class="left-col-inner horizontal-align">
                    <input type="submit" class="btn btn-white btn-33" value="Search Customers" id="refreshCustomerView" />
                </div>
            </div>
        </div>
    </div>
</div>
}
